.dropdown-menu-dark{
  background-color: #07A838 !important;
  width:30%;
  height:375px;
}
.jojo{
  background-color: #072A3F !important;
  width:30%;
   height:375px;
}
h5{
  color: white !important;
  margin-top: 25%;
}
button{
  margin-left: 25%;
  margin-top: 20%;
}
.btn-primary1{
  background-color: #07A838 !important;
}
.btn-primary{
  background-color: #072A3F !important;
  border: none;
}

body{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(96, 96, 96, 70%) !important;
}
.navbar{
  background-color:#072A3F !important;
}
.vert h5{
  color: black !important;
}
.justify-content-center{
  margin-top: 8%;
  padding-bottom: 04%;
}
.d-flex {
  height: 100vh;
  width: 100%;
}
a{
 text-decoration: none;
  color: white;
}
a:hover
{
  color: white;
}
