img{
  margin-right: 50%;
}
nav{
  background-color:#072A3F !important;
}
.offcanvas-header{
background-color:#072A3F !important;
}
.offcanvas-body{
  background-color:#072A3F !important;
}
.justify-content-center{
  background-color:#606060 !important;
}
h4{
  text-align: center;
}
h1{
  text-align: center;
}
.btn-secondary{
  background-color: #07A838 !important;
  border: none;
  margin-left: 80%;
}

.edit-1{
  background-color: #072A3F !important;
  color: white;
}
.edit-2{
  background-color: #02AC31 !important;
  border: none;
  color: white;
}
.edit-3{
  background-color: #02AC31 !important;
  border: none;
  margin-left: 80%;
}
.name{
  color: white;
}
.surname{
  color: white;
}
a{
  color: white !important;
}
