<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="parent">
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img src="../assets/images/coachon.png" width="10%">
        <ul class="nav nav-pills">

          <li class="nav-item"><a class="nav-link" routerLink='/accueil-c'>ACCUEIL</a></li>
          <li class="nav-item"><a class="nav-link" routerLink='/a-propos'>A PROPOS</a></li>
          <li class="nav-item"><a class="nav-link" routerLink='/contactez-nous'>CONTACT</a></li>
          <li class="nav-item"><a class="nav-link" routerLink='/accueil-c'>DECONNEXION</a></li>
        </ul>
      </div>
    </nav>
  </div>
        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> <span class="name">KOFFI YEBOUA SIMON PIERRE </span>
              <li class="nav-item">
                <br>
              </li>
              <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 border-top">
              </footer>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
                  </svg>
                  TABLEAU DE BORD</a>
              </li>
              <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 border-top">
              </footer>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: green;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  </svg>PROFIL</a>
              </li>
              <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 border-top">
              </footer>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#">
                 OFFRES
                </a>
              </li>
              <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 border-top">
              </footer>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
                  </svg>OFFRES RECENTES
                </a>
              </li>
              <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 border-top">
              </footer>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                  </svg>TOUTES LES OFFRES</a>
              </li>
              <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 border-top">
              </footer>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                  </svg>TEST</a>
              </li>
              <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 border-top">
              </footer>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                  </svg>NOTIFICATION</a>
              </li>
              <footer class="d-flex flex-wrap justify-content-between align-items-centerborder-top">
              </footer>
            </ul>
          </div>
        </div>

    <div class="d-flex gap-5 justify-content-center py-5">
      <div class="list-group w-auto py-5">
        <section href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <div class="py-2">
            <p><a class="btn edit-1" href="#">Editer le profil </a></p>
          </div>
          </div>
            <p><a class="btn edit-2" href="#">Modifier l'image </a></p>
            <p class="paragraph1">Le ficher doit être en format PNG ,JPG,JPEG.avec une taille max 500ko et min 70ko</p>
        </section>
        <section href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <div class="row gy-3 py-5">
            <form class="needs-validation" novalidate>
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Email</label>
                  <input type="text" class="form-control" required>
                </div>
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Mot de passe</label>
                  <input type="text" class="form-control" required>
                </div>

              </div>
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Localité</label>
                  <input type="text" class="form-control" id="pays" placeholder="" value="" required>
                </div>

                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Reseau social</label>
                  <input type="email" class="form-control" id="emailentreprise" placeholder="" value="" required>
                </div>

              </div>
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Domaine d'activité</label>
                  <input type="text" class="form-control" id="text" placeholder="" value="" required>
                </div>

                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Ville</label>
                  <input type="text" class="form-control" id="ville" placeholder="" value="" required>
                </div>

              </div>
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Domaine de compétence</label>
                  <input type="text" class="form-control" id="lien" placeholder="" value="" required>
                </div>

                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Niveau d'etude</label>
                  <input type="text" class="form-control" id="siteinternet" placeholder="" value="" required>
                </div>
                <p><a class="btn btn-secondary edit-3" href="#">Enregistrer</a></p>
              </div>
            </form>
            </div>
        </section>
      </div>
    </div>

</body>
</html>

