<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="modal modal-sheet position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSheet">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header border-bottom-0">
          <h1 class="modal-title fs-5"> FINALISATION DE L'INSCRIPTION</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" routerLink='/inscription-recruteur-e1'></button>
        </div>
        <div class="modal-body py-5">
          <div class="mb-3">
            <label  class="form-label">Numéro de l'entreprise</label>
            <input type="email" class="form-control">
          </div>
          <div class="mb-3">
            <label  class="form-label">Nom de l'entreprise</label>
            <input type="email" class="form-control" ></div>
            <p class="t">Information sur l'entreprise</p>
            <div class="mb-3" id="md">
              <div>
                <label  class="form-label">Pays</label> <br>
                <input type="email" class="form-control">
              </div>
              &nbsp
              <div>
                <label  class="form-label">Ville</label><br>
                <input type="email" class="form-control">
              </div>
            </div>
            <div class="mb-3">
              <label  class="form-label">Domaine d'activité</label>
              <input type="email" class="form-control">
            </div>
            <div class="mb-3">
              <label  class="form-label">Site internet de l'entreprise</label>
              <input type="email" class="form-control">
            </div>
            <div class="mb-3">
              <label  class="form-label">Lien linkedIn</label>
              <input type="email" class="form-control">
            </div>
        <div class="modal-footer flex-column border-top-0">
          <button type="button" class="btn btn-lg btn-light w-50 mx-0" data-bs-dismiss="modal" routerLink='/connexion-recruteur'>Se connecter</button>
          <p> Déja un compte ? <span> <a routerLink='/connexion-recruteur'>connectez vous !</a> </span></p>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>
</html>
