<div class="parent d-flex justify-content-center">
  <div class="enfant">
    <div>
      <button type="button" class="btn1">
       Connexion
        <button type="button" class="btn-close" aria-label="Close"></button>
       </button>
<br><br>
  </div>

      <div class="mb-3">
        <label  class="form-label">Email</label>
        <input type="email" class="form-control">
      </div>

      <div class="mb-3">
        <label  class="form-label">Mot de passe</label>
        <input type="email" class="form-control">
        <p> <a class="nav-link" routerLink='/recuperation-mdp'>Mot de passe oublié ?</a> </p>
      </div>
      <div class="end">
        <button type="button" class="btn btn-success">Se connecter</button>
        <p> Pas de compte ? <span> inscrivez vous !</span></p>
      </div>
  </div>
  </div>
