.modal-header{
  background-color: #07A838 !important;
  color: white !important;
  /* margin-right: 1xp;
  margin-left: 1px; */
  /* border-radius: 5 5px 0px 0px; */
  border-radius: 15px 16px 0px 0px;

}
h1{
  margin-left: 15%;
}
.modal-sheet{
  background-color: #072A3F !important;
}
.modal-dialog{
  border-radius: 15px 16px 0px 0px;
}
.modal-content
{
  background-color: rgb(255, 255, 255, 80%) !important;
}
.btn-light{
  background-color: #072A3F !important;
  color: white !important;
}
