img{
  margin-right: 50%;
}
nav{
background-color:#072A3F !important;

}
.offcanvas-header{
background-color:#072A3F !important;
}
.offcanvas-body{
  background-color:#072A3F !important;
}
.justify-content-center{
  background-color: rgb(96, 96, 96, 30%);
}
h4{
  text-align: center;
}
h1{
  text-align: center;
}
.btn-secondary{
  background-color: #07A838 !important;
  border: none;
  margin-left: 80%;
}
.name{
  color: white;
}
