body{
  background-color: #072A3F !important;
  width: 100%;
  height: 100vh;
}
.modal-header{
  background-color: #072A3F !important;
  color: white !important;
  border-radius: 15px 16px 0px 0px;

}
#ss{
  margin-left: 239px !important;
  width: 170px !important;
  height: 50px !important;
  font-family: 12px !important;
}
h1{
  margin-left: 15%;
}
.modal-sheet{
  background-color:rgb(181,181,181) !important;
}
.modal-dialog{
  border-radius: 15px 16px 0px 0px;
}
.modal-content
{
  background-color:  #072A3F !important;
}
.btn-light{
  background-color:#07A838 !important;
  color: white !important;
}
h1{
  margin-left: 160px !important;
}
label{
  color: white !important;
}
p
{
  color: white !important;
}
.ff{
  color: white !important;
}
span{
  color:#07A838 !important;
}
