<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <img src="../assets/images/coachon.png" alt="" width="10%">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav nav-pills">
        <!-- <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li> -->
        <li class="nav-item"><a href="#" class="text-white nav-link">Accueil</a></li>
        <li class="nav-item"><a href="#" class="text-white nav-link">A propos</a></li>
        <li class="nav-item"><a href="#" class="text-white nav-link">Contact</a></li>
        <li class="nav-item"><a href="#" class="text-white nav-link">Connexion</a></li>
      </ul>
    </div>
  </nav>
  <div class="d-flex justify-content-center w-100 h-100">
    <div class="dropdown-menu d-block position-static pt-0 mx-0 rounded-0 shadow overflow-hidden w-280px jojo" >
      <div class="modal-body p-4 text-center noir">
        <h5 class="mb-0">Vous etes un candidat ?</h5>
      </div>
      <button type="button" class="btn btn-lg btn-primary1 w-50" data-bs-dismiss="modal">cliquez ici</button>
    </div>

    <div class="dropdown-menu dropdown-menu-dark d-block position-static border-0 pt-0 mx-0 rounded-0 shadow overflow-hidden w-280px">
      <div class="modal-body p-4 text-center vert">
        <h5 class="mb-0">Vous etes un recruteur ?</h5>
      </div>
      <button type="button" class="btn btn-lg btn-primary w-50" data-bs-dismiss="modal"> cliquez ici</button>
    </div>
  </div>
</body>
</html>
