img{
  margin-right: 50%;
}
nav{
background-color:#072A3F !important;

}
.offcanvas-header{
background-color:#072A3F !important;
}
.offcanvas-body{
  background-color:#072A3F !important;
}
.justify-content-center{
  background-color:#606060 !important;
}
h4{
  text-align: center;
}
h1{
  text-align: center;
}
.btn-secondary{
  background-color: #07A838 !important;
  color: black;
  border: none;
  margin-left: 85%;
  margin-top: 11%;
  border-radius: 25px;
}

.edit-1{
  background-color: #072A3F !important;
  color: white;
}
.edit-2{
  background-color: #02AC31 !important;
  border: none;
  color: white;
}
.edit-3{
  background-color: #02AC31 !important;
  border: none;
  margin-left: 80%;
}
.name{
  color: white;
}
.surname{
  color: white;
}

.body1{
  background-color: white;
}
.p-5{
  margin-top: 7%;
}
.card-body{
  width: 100%;
  height: 200px;
  color: #02AC31;
  background-color: #072A3F;
  // background-color: #02AC31;
}

.rounded-circle{
  width: 200px;
  height: 148px;
}
.presentation{
  margin-top: 122px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.text{
  text-align: center;
}
#i{

  background-color:rgba(186, 117, 20, 1);
}
