<div class="parent">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <img src="../assets/images/coachon.png" alt="" width="10%">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" routerLink='/accueil-c'>ACCUEIL</a></li>
        <li class="nav-item"><a class="nav-link" routerLink='/a-propos'>A PROPOS</a></li>
        <li class="nav-item"><a class="nav-link" routerLink='/contactez-nous'>CONTACT</a></li>
        <li class="nav-item"><a class="nav-link" routerLink='/page-de-choix-c'>CONNEXION</a></li>
      </ul>
    </div>
  </nav>

  <h2 class="card-title">Qui sommes nous</h2>
  <div class=" mb-3">
    <img  src="../../assets/apropos.jpg" class="card-img-top" >
    <p>Coach’on est une startup qui intervient dans le domaine de l’EdTech plus précisément dans la formation et le développement de carrière. Notre mission est de contribuer à la création des opportunités d’emploi pour les jeunes via le numérique et les technologies.</p>
    </div>
</div>
