<div class="parent">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
    <img class="logo" src="../../assets/logo.jpg"></div>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarRightAlignExample"
        aria-controls="navbarRightAlignExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" >
        <!-- Left links -->
        <ul class="navbar-nav ms-auto mb-3 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link "  href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "  href="#">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Connexion</a>
          </li>
          <!-- Navbar dropdown -->
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>

  <h2 class="card-title">Qui sommes nous</h2>
  <div class=" mb-3">
    <img  src="../../assets/apropos.jpg" class="card-img-top" >
    <p>Coach’on est une startup qui intervient dans le domaine de l’EdTech plus précisément dans la formation et le développement de carrière. Notre mission est de contribuer à la création des opportunités d’emploi pour les jeunes via le numérique et les technologies.</p>
    </div>
</div>
