h3{
  margin-left: 50px;
}
#forfait{
  font-size: 27px !important;
  background-color:#072A3F !important;
  color: white;
  width: 200px;
  height: 200px;
  margin-left: 335px;
}
.card{
  border: none;
}
span{
  font-weight: bold;
}
p{
  margin-left: 20px;
}
.mb-3{
  display: flex;
}
button{
  background-color:#07A838 !important;
  margin-left: 350px;
}
