<div class="parent">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <img src="../assets/images/coachon.png" alt="" width="10%">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" routerLink='/accueil-c'>ACCUEIL</a></li>
        <li class="nav-item"><a class="nav-link" routerLink='/a-propos'>A PROPOS</a></li>
        <li class="nav-item"><a class="nav-link" routerLink='/contactez-nous'>CONTACT</a></li>
        <li class="nav-item"><a class="nav-link" routerLink='/connexion-candidat'>CONNEXION</a></li>
      </ul>
    </div>
  </nav>
  <br>br
  
<h2>
  Recuperation de mot de passe
</h2>
<br><br><br>
  <div class="mb-3">
    <label>Entrez votre email</label> <br><br>
    <input type="email" >
  </div>
  <br><br>
  <div class="end">
    <button type="button" class="btn btn-success" routerlink='/creation-mdp'>Envoyez</button>

  </div>
