.navbar{
  background-color:#072A3F !important;
  color: white;
}

#carouselExampleDark{
  margin: auto;
}
p{
 color: #072A3F;
 font-family: montserrat;
}
.btn-primary{
  background-color: #072A3F !important;
  border: #072A3F;
  margin-bottom: 05%;
}
a{
  color: white;
  text-decoration: none;
}
#btn
{
  font-size: 22px !important;
}

a:hover{
  color: white;
}
#txt{
  font-family: montserrat;
  font-weight: bold;
  font-size: 30px;
}
#img
{
  width: 100%;
  height: 100%;

}
