.navbar{
  background-color:#072A3F !important;
}

#carouselExampleDark{
  margin: auto;
}
p{
 color: #072A3F;
 font-family: montserrat;
}
.btn-primary{
  background-color: #072A3F !important;
  border: #072A3F;
  margin-bottom: 05%;
}
